   /* ___ _       _           _                   _       _     _           
  / _ \ | ___ | |__   __ _| | /\   /\__ _ _ __(_) __ _| |__ | | ___  ___ 
 / /_\/ |/ _ \| '_ \ / _` | | \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
/ /_\\| | (_) | |_) | (_| | |  \ V / (_| | |  | | (_| | |_) | |  __/\__ \
\____/|_|\___/|_.__/ \__,_|_|   \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
                                                                          */
:root {
    --journal-entry: #F3F3F3;
    --sliding-shelf: #EBEBEB;
    --main-stroke-color: #A1A1A1;
    --grey-text-color: #404040;
    --icon-color: #D7D7D7;
    --font-family: 'Dosis', sans-serif;
    --dark-green: #58A399;
    --dark-blue: #496989
}
 /* _____                __                _ 
/__   \___  _ __     / /  _____   _____| |
  / /\/ _ \| '_ \   / /  / _ \ \ / / _ \ |
 / / | (_) | |_) | / /__|  __/\ V /  __/ |
 \/   \___/| .__/  \____/\___| \_/ \___|_|
           |_|                             */
body {
    margin: 0;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--grey-text-color);
}
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

#app-wrapper {
    display: flex;
    height: 100%;
}
p, span {
    font-weight: 300;
}
span {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: -0.001cap;
}
 /* __ _     _      _                
/ _(_) __| | ___| |__   __ _ _ __ 
\ \| |/ _` |/ _ \ '_ \ / _` | '__|
_\ \ | (_| |  __/ |_) | (_| | |   
\__/_|\__,_|\___|_.__/ \__,_|_|   
                                   */
sidebar {
    width: 213px;
    background-color: var(--sliding-shelf);
    border-right: 1px solid var(--main-stroke-color);
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: width 0.3s ease;
}

.sidebar-header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.sidebar-module {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    transition: width 0.3s ease;
}

button.new-journal {
    background-color: var(--dark-green);
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    min-height: 40px;
}

button.collapse-button {
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
}

button.new-journal i.icon {
    margin-left: 10px;
}

button.new-journal img.journal-icon,
img.collapse-button {
    height: 20px;
    width: 20px;
}

.journal-entry {
    background-color: #cbcfce;
    color: var(--grey-text-color);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    min-height: 40px;
}

.journal-entry i.icon {
    margin-left: 10px;
}

.sidebar-collapsed {
    width: 50px;
}

.toggled-sidebar-module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.toggled-new-journal,
.toggled-journal-entry {
    transition: width 0.3s ease;
    visibility: hidden;
}

.sidebar-collapsed button.collapse-button {
    transform: rotate(180deg);
}

                      /* _           
  /\  /\___  __ _  __| | ___ _ __ 
 / /_/ / _ \/ _` |/ _` |/ _ \ '__|
/ __  /  __/ (_| | (_| |  __/ |   
\/ /_/ \___|\__,_|\__,_|\___|_|   
                                   */
header {
    background-color: var(--sliding-shelf);
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid var(--main-stroke-color);
    height: 62px;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: var(--font-family);
    font-size: large;
}
/* Rock Icon for Header*/
.rock-icon{
    padding-right: 10px;
}
/*                                                    
  /\  /\___  _ __ ___   ___ _ __   __ _  __ _  ___ 
 / /_/ / _ \| '_ ` _ \ / _ \ '_ \ / _` |/ _` |/ _ \
/ __  / (_) | | | | | |  __/ |_) | (_| | (_| |  __/
\/ /_/ \___/|_| |_| |_|\___| .__/ \__,_|\__, |\___|
                           |_|          |___/       */
homepage {
    flex: 1;
    background-color: var(--journal-entry);
    padding: 10px;
    box-sizing: border-box;
}
   /* __      _              
  /__\ __ | |_ _ __ _   _ 
 /_\| '_ \| __| '__| | | |
//__| | | | |_| |  | |_| |
\__/|_| |_|\__|_|   \__, |
                    |___/  */


.title-entry-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--journal-entry);
    padding: 10px;
}

.secondary {
    background-color: var(--journal-entry);
    color: var(--grey-text-color);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    min-height: 40px;
    margin-right: 10px;
}

.primary {
    background-color: var(--dark-green);
    color: white;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    min-height: 40px;
}

.title-entry {
    margin: 0;
}

/* The div holding the buttons*/
.buttons {
    display: flex;
    gap: 10px;
}

#title-input {
    font-size: 16px;
    color: var(--dark-green);
    background-color: var(--journal-entry);
    border: none;
    border-bottom: 2px solid var(--grey-text-color);
    padding: 5px 0;
    width: 200px;
    outline: none;
    transition: border-color 0.3s;
}

#title-input.placeholder {
    color: var(--main-stroke-color);
    border-bottom-color: var(--main-stroke-color);
}

#title-input.filled {
    color: black;
    border-bottom-color: var(--dark-blue);
}

#title-input:focus {
    border-bottom-color: var(--dark-blue);
}
