   /* ___ _       _           _                   _       _     _           
  / _ \ | ___ | |__   __ _| | /\   /\__ _ _ __(_) __ _| |__ | | ___  ___ 
 / /_\/ |/ _ \| '_ \ / _` | | \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
/ /_\\| | (_) | |_) | (_| | |  \ V / (_| | |  | | (_| | |_) | |  __/\__ \
\____/|_|\___/|_.__/ \__,_|_|   \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
                                                                          */
:root {
    --journal-entry: #F3F3F3;
    --sliding-shelf: #EBEBEB;
    --main-stroke-color: #A1A1A1;
    --grey-text-color: #404040;
    --icon-color: #D7D7D7;
    --font-family: 'Dosis', sans-serif;
    --new-journal-btn: #6FAE9D;
    --journal-entry-btn: #E0E0E0;
}
 /* _____                __                _ 
/__   \___  _ __     / /  _____   _____| |
  / /\/ _ \| '_ \   / /  / _ \ \ / / _ \ |
 / / | (_) | |_) | / /__|  __/\ V /  __/ |
 \/   \___/| .__/  \____/\___| \_/ \___|_|
           |_|                             */
body {
    margin: 0;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--grey-text-color);
}
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

#app-wrapper {
    display: flex;
    height: 100%;
}
p, span {
    font-weight: 300;
}
span {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: -0.001cap;
}
 /* __ _     _      _                
/ _(_) __| | ___| |__   __ _ _ __ 
\ \| |/ _` |/ _ \ '_ \ / _` | '__|
_\ \ | (_| |  __/ |_) | (_| | |   
\__/_|\__,_|\___|_.__/ \__,_|_|   
                                   */
sidebar {
    width: 213px;
    background-color: var(--sliding-shelf);
    border-right: 1px solid var(--main-stroke-color);
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar-module {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    /* overflow: scroll;  */
    /* to make journal list for too many journals */
    overflow-y: scroll;
}

.sidebar-module::-webkit-scrollbar {
    width: 0px; 
}


.sidebar-module .fa.fa-ellipsis-v{
    display:none;
}

button.new-journal {
    background-color: var(--new-journal-btn);
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    min-height: 40px;
}

button.new-journal i.icon {
    margin-left: 10px;
}

button.new-journal img.journal-icon {
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

.journal-entry {
    background-color: #cbcfce;
    color: var(--grey-text-color);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.journal-entry i.icon {
    margin-left: 10px;
}
.vdots {
    position: relative;
    right: 12px;
}
.sidebar-drawer {
    padding: none;
    margin: none;
    border: none;
    background: none;
    align-self: self-start;
    margin-left: -8px;
    margin-bottom: 7px;
}
                      /* _           
  /\  /\___  __ _  __| | ___ _ __ 
 / /_/ / _ \/ _` |/ _` |/ _ \ '__|
/ __  /  __/ (_| | (_| |  __/ |   
\/ /_/ \___|\__,_|\__,_|\___|_|   
                                   */
header {
    background-color: var(--sliding-shelf);
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid var(--main-stroke-color);
    height: 62px;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: var(--font-family);
    font-size: large;
}
/* Rock Icon for Header*/
.rock-icon{
    padding-right: 10px;
}
/*                                                    
  /\  /\___  _ __ ___   ___ _ __   __ _  __ _  ___ 
 / /_/ / _ \| '_ ` _ \ / _ \ '_ \ / _` |/ _` |/ _ \
/ __  / (_) | | | | | |  __/ |_) | (_| | (_| |  __/
\/ /_/ \___/|_| |_| |_|\___| .__/ \__,_|\__, |\___|
                           |_|          |___/       */
homepage {
    flex: 1;
    background-color: var(--journal-entry);
    padding: 10px;
    box-sizing: border-box;
}
   /* __      _              
  /__\ __ | |_ _ __ _   _ 
 /_\| '_ \| __| '__| | | |
//__| | | | |_| |  | |_| |
\__/|_| |_|\__|_|   \__, |
                    |___/  */
