/*                                                    
  /\  /\___  _ __ ___   ___ _ __   __ _  __ _  ___ 
 / /_/ / _ \| '_ ` _ \ / _ \ '_ \ / _` |/ _` |/ _ \
/ __  / (_) | | | | | |  __/ |_) | (_| | (_| |  __/
\/ /_/ \___/|_| |_| |_|\___| .__/ \__,_|\__, |\___|
                           |_|          |___/       */
homepage {
    flex: 1;
    background-color: var(--journal-entry);
    padding: 10px;
    box-sizing: border-box;

    &>.title-textarea {
        display: none;
    }
    &>.entry-textarea {
        display: none;
        resize: none;
    }
    &>.live-preview {
        display: none;
        resize: none;
    }
    &>.save-note {
        display: none;
    }
    &>.cancel-note {
        display: none;
    }
}

button.add-note {
    background-color: var(--dark-green);
    width: 100%;
    border-radius: 8px;
    min-width: 200px;
    min-height: 60px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding: 10px;
    font-family: var(--font-family);
}

button.add-note:hover {
    background-color: #A1A1A1;
}

.save-message {
    position: fixed;
    top: 85%; /* Adjusted value to move the message down */
    left: 50%;
    /* transform: translateX(-50%); */
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    font-family: 'Inter', sans-serif;
}

/* dropdown */
.homepage-dropdown-menu {
    display: none;
    position: absolute;
    width: 200px;
    z-index: 1000;
    left: 80px;
    background-color: var(--journal-entry);
    border: 1px solid var(--icon-color);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
}

.homepage-dropdown-item {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;

    :hover {
        background-color: var(--icon-color);
        border-radius: 5px;
    }
}

.homepage-dropdown-item.delete {
    color: red;
    :hover {
        background-color: #f8d7da;
    }
}