 /* __ _     _      _                
/ _(_) __| | ___| |__   __ _ _ __ 
\ \| |/ _` |/ _ \ '_ \ / _` | '__|
_\ \ | (_| |  __/ |_) | (_| | |   
\__/_|\__,_|\___|_.__/ \__,_|_|   
                                   */
sidebar {
    width: 213px;
    background-color: var(--sliding-shelf);
    border-right: 1px solid var(--main-stroke-color);
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: width 0.3s ease;
}

.sidebar-header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.sidebar-module {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    transition: width 0.3s ease;
    /* overflow: scroll;  */
    /* to make journal list for too many journals */
    overflow-y: scroll;
    overflow-x: visible;
}

.sidebar-module::-webkit-scrollbar {
    width: 0px;
}

/* journal */
.journal {
    color: var(--grey-text-color);
    position: relative;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    min-height: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px;
    cursor: pointer;

    button {
        background-color: transparent;
        display: none;
        height: 20px;
    }

    &:hover {
        background-color: var(--journal-highlight);

        button {
            display: block;
            border: none;
            cursor: pointer;
        }
    }

    input[type='radio'] {
        display: none;
        margin: 0px;
    }

    .journal-vdots:hover {
        content: url('../assets/vdots-journal-white-active.svg');
    }
}

/* for some reason nested selectors don't work with :has() */
.journal:has(input[type='radio']:checked) {
    background-color: var(--journal-highlight);
    margin: 0px;
}

/* dropdown */
.sidebar-dropdown-menu {
    display: none;
    position: absolute;
    width: 200px;
    z-index: 1000;
    left: 80px;
    background-color: var(--journal-entry);
    border: 1px solid var(--icon-color);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
    z-index: 1000;
}

.sidebar-dropdown-item {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar-dropdown-item:hover {
    background-color: var(--icon-color);
    border-radius: 5px;
}

.dropdown-icon {
    margin-right: 10px;
}

.sidebar-dropdown-item.delete {
    color: red;
}

.sidebar-dropdown-item.delete:hover {
    background-color: #f8d7da;
}


/* new journal button */
button.new-journal {
    background-color: var(--dark-green);
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    min-height: 40px;
}

button.collapse-button {
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
}

button.new-journal i.icon {
    margin-left: 10px;
}

button.new-journal img.journal-icon,
img.collapse-button {
    height: 20px;
    width: 20px;
}

.sidebar-collapsed {
    width: 50px;
}

.toggled-sidebar-module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.toggled-new-journal,
.toggled-journal {
    transition: width 0.3s ease;
    visibility: hidden;
}

.sidebar-collapsed button.collapse-button {
    transform: rotate(180deg);
}