 /* __ _     _      _                
/ _(_) __| | ___| |__   __ _ _ __ 
\ \| |/ _` |/ _ \ '_ \ / _` | '__|
_\ \ | (_| |  __/ |_) | (_| | |   
\__/_|\__,_|\___|_.__/ \__,_|_|   
                                   */
sidebar {
    width: 213px;
    background-color: var(--sliding-shelf);
    border-right: 1px solid var(--main-stroke-color);
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: width 0.3s ease;
}

.sidebar-header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.sidebar-module {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    transition: width 0.3s ease;
    /* overflow: scroll;  */
    /* to make journal list for too many journals */
    overflow-y: scroll;
}

.sidebar-module::-webkit-scrollbar {
    width: 0px; 
}

/* styles for each journal */
.journal {
    color: var(--grey-text-color);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    min-height: 40px;
    margin-bottom: 10px;
}

.journal span {
    margin-left: 10px;
}

.journal:hover{
    background-color: #cbcfce;
}

.journal button{
    background-color: var(--sliding-shelf);
    border: none;
}

.journal:hover button{
    background-color: #cbcfce;
}

.journal-vdots:hover {
    content: url('../assets/vdots-journal-white-active.svg');
}

button.new-journal {
    background-color: var(--dark-green);
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    min-height: 40px;
}

button.collapse-button {
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
}

button.new-journal img.journal-icon,
img.collapse-button {
    height: 20px;
    width: 20px;
}

.sidebar-collapsed {
    width: 50px;
}

.toggled-sidebar-module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.toggled-new-journal,
.toggled-journal-entry {
    transition: width 0.3s ease;
    visibility: hidden;
}

.sidebar-collapsed button.collapse-button {
    transform: rotate(180deg);
}